{%extends 'base.html'%}
{% load static %}

{% block title %} Checkout {% endblock %}

{% block link %}
<link rel="stylesheet" href=" {% static 'css/cart.css' %} ">{% endblock %}


{% block content %}
<h3>Order Summary</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Images</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{cartobj.product.cakeimage.url}}" alt="product img error"></td>
            <td>{{cartobj.product.cakename}}</td>
            <td>{{cartobj.product.cakeprice}}</td>
            <td>{{cartobj.quantity}}</td>
        </tr>
    </tbody>
</table>

<h3>Your Details</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Place</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{userobj.name}}</td>
            <td>{{userobj.email}}</td>
            <td>{{userobj.place}}</td>
        </tr>

    </tbody>
</table><br>
<h3 style="color: blue;">Total Amount : Rs. {{totalprice}}/-</h3>

<a href="/placeorder?cid={{cartobj.id}}" class="btn btn-primary">Place Order</a>

{% endblock %}